#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
out

#Maven
target
release.properties
pom.xml.*

#Ant
ant.properties
local.properties
project.properties

#Gradle
.gradle
build
gradle.properties

#Other
.DS_Store
tmp
config
