[submodule "lib/VitamioBundle"]
	path = lib/VitamioBundle
	url = git@github.com:CiTuX/VitamioBundle.git
[submodule "lib/ActionBarSherlock"]
	path = lib/ActionBarSherlock
	url = git@github.com:CiTuX/ActionBarSherlock.git
[submodule "lib/DataDroid"]
	path = lib/DataDroid
	url = git@github.com:CiTuX/DataDroid.git
[submodule "lib/ZI"]
	path = lib/ZI
	url = git@github.com:CiTuX/ZI.git
